.grid {
  $grid-width: 100%;
  max-width: 80%;
  @extend .clearfix;
  width: $grid-width;
  margin: auto;
  border: 1px solid red;
  background-color: lightgrey;

    .unit {
      float: left;
      width: ($grid-width/12);
      padding-left: 1em;
      padding-right: 1em;
      box-sizing: border-box;
      border: 1px solid red;
    }

    .unit-5-8
}
